*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:linear-gradient(135deg,#3E2723,#5D4037);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-container{
    background:#fff;
    width:350px;
    padding:35px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
    text-align:center;
}

.login-container h1{
    color:#5D4037;
    margin-bottom:10px;
}

.login-container h2{
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

button{
    width:100%;
    padding:14px;
    background:#5D4037;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

button:hover{
    background:#3E2723;
}

#message{
    margin-top:15px;
    color:red;
    font-size:14px;
}
