*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    background:
    linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)),
    url("../cafe.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.signup-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.signup-card{
    width:100%;
    max-width:450px;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.25);
    border-radius:20px;
    padding:35px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.35);
}

.icon{
    font-size:65px;
    margin-bottom:15px;
}

.signup-card h1{
    color:#fff;
    margin-bottom:10px;
}

.subtitle{
    color:#f2f2f2;
    margin-bottom:25px;
    line-height:1.6;
}

form{
    display:flex;
    flex-direction:column;
    gap:16px;
}

input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:16px;
}

input:focus{
    border:2px solid #8B5E3C;
}

.password-box{
    position:relative;
}

.password-box input{
    padding-right:50px;
}

.password-box span{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    font-size:20px;
}

.terms{
    color:white;
    display:flex;
    align-items:center;
    gap:8px;
    font-size:14px;
    text-align:left;
}

.terms input{
    width:auto;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#6F4E37;
    color:white;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#8B5E3C;
}

#message{
    margin-top:15px;
    color:white;
    font-weight:600;
}

.divider{
    display:flex;
    align-items:center;
    margin:25px 0;
}

.divider::before,
.divider::after{
    content:"";
    flex:1;
    height:1px;
    background:rgba(255,255,255,.25);
}

.divider span{
    color:white;
    margin:0 12px;
}

.google-btn{
    background:white;
    color:#333;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
}

.google-btn img{
    width:24px;
    height:24px;
}

.google-btn:hover{
    background:#f2f2f2;
}

.firebase-text{
    color:#ddd;
    margin-top:15px;
    font-size:13px;
}

.bottom-text{
    margin-top:20px;
    color:white;
}

.bottom-text a{
    color:#FFD54F;
    text-decoration:none;
    font-weight:600;
}

.bottom-text a:hover{
    text-decoration:underline;
}

@media(max-width:768px){

.signup-card{
    padding:28px;
}

.icon{
    font-size:55px;
}

.signup-card h1{
    font-size:28px;
}

.subtitle{
    font-size:15px;
}

}
