*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    background:#f5f5f5;
}

.sidebar{
    width:250px;
    height:100vh;
    background:#4E342E;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:12px;
    margin:10px 0;
    cursor:pointer;
    border-radius:8px;
}

.sidebar li:hover{
    background:#6D4C41;
}

.main{
    flex:1;
    padding:40px;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    width:250px;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}
.sidebar a{
    color:white;
    text-decoration:none;
    display:block;
}

.sidebar a:hover{
    color:#FFD54F;
}
